<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.teddylazebnik.mobileversion">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AcademicCourseActivity"
            android:label="@string/title_activity_academic_course"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TextActivity"
            android:noHistory="true" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile" />
        <activity android:name=".AcademicPapersActivity" />
        <activity android:name=".StudentsActivity" />
        <activity android:name=".OpenSourceProjectsActivity" />
        <activity android:name=".TechnicalBlogActivity" />
        <activity android:name=".CoursesActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".MyCustomAppIntro"
            android:label="@string/title_activity_my_custom_app_intro" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:theme="@style/MainMenu" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".TeachingMessagesActivity"
            android:theme="@style/ListTheme" />

        <service
            android:name=".jobs.TeachingListRetrieveJob"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>