@import url('http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:400,600,700');


body {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 300;
}

::-webkit-scrollbar{
	width: 0px;
}

#ScrollPath{
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
}

#progressBar{
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background: rgb(42,23,177);
	background: linear-gradient(0deg, rgba(42,23,177,1) 0%, rgba(66,132,211,1) 100%);
}

.container{
	width: 100% !important;
}

.header{
	margin-top: 20px;
	background-color: #0E53A7;
	color: white;
	border: 2px #0E53A7 solid;
	border-bottom: 0px;
	/* top-left | top-right | bottom-right | bottom-left */
	border-radius: 10px 10px 0px 0px;
	margin-bottom: 0px;
}

.header h1{
	padding-left: 10px;
	padding-bottom: 20px;
	margin-bottom: 0px;
}

.menu{
	background-color: #eeeeee;
	color: black;
	font-weight: bold;
	border-left: 2px black solid;
	border-right: 2px black solid;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu li {
	float: left;
}

.menu li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active{
  font-weight: bold;
  background-color: #cccccc;
}

.menu li a:hover {
  background-color: #111;
  color: white;
}

.body{
	padding: 10px 15px;
	background-color: #ffffff;
	border: 2px black solid;
	border-top: 0px black solid;
	/* top-left | top-right | bottom-right | bottom-left */
	border-radius: 0px 0px 10px 10px;
	margin-bottom: 20px;
}

.personal-panel{
	background-color: #eeeeee;
	padding: 10px 15px;
	border-radius: 10px 10px 10px 10px;
	text-align: center;
}

.personal-panel img{
	text-align: center;
	border-radius: 100%;
}

.personal-panel h3{
	font-size: 18px;
}

.personal-panel h2{
	font-size: 20px;
	text-align: left;
}

.personal-panel ul{
	list-style-type: none;
	text-align: left;
}

.personal-panel li{
	color: black;
	padding-top: 5px;
}

.personal-panel li a{
	color: black;
}

.personal-panel h5{
	font-size: 16px;
}

.personal-panel a{
	color: #333333;
}

.personal-panel a img{
	margin-right: 10px;
}

.personal-panel a:hover {
	color: #555555;
}

#VisitCount {
	margin-top: 10px;
	font-size: 12px;
}

.info h3{
	font-size: 20px;
}

.info h2{
	font-size: 24px;
}

.info p{
	padding-top: 15px;
	font-size: 16px;
}

.info li{
	padding-top: 5px;
	font-size: 16px;
}

.cool-btn{
	border: 0px;
	display: inline-block;
	font-size: 12pt;
	letter-spacing: 2px;
	padding: 6px 18px;
	border-radius: 40px;
	color: white;
	overflow: hidden;
	position: relative;
}

.col-btn-href{
	display: none;
}

.ripple{
	position: absolute;
	background: #fff;
	transform: translate(-50%, -50%);
	pointer-events: none;
	border-radius: 50%;
	animation: animate 1s linear infinite;
}

@keyframes animate{
	0% {
		width: 0px;
		height: 0px;
		opacity: 0.5;
	}
	100% {
		width: 1000px;
		height: 1000px;
		opacity: 0;
	}
}

.cool-btn-gray{
	background: rgb(11,7,40);
	background: linear-gradient(270deg, rgba(11,7,40,1) 0%, rgba(203, 207, 212, 1) 100%);
}

.cool-btn-gray:hover{
	border: 1px solid rgb(11,7,40);
	padding: 5px 17px;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25) !important;
}

.cool-btn-yellow{
	background: rgb(177,152,6);
	background: linear-gradient(270deg, rgba(177,152,6,1) 0%, rgba(255,250,166,1) 100%);
	color: black !important;
}

.cool-btn-blue{
	background: rgb(42,23,177);
	background: linear-gradient(270deg, rgba(42,23,177,1) 0%, rgba(66,132,211,1) 100%);
}

.cool-btn-green{
	background: rgb(6,139,57);
	background: linear-gradient(270deg, rgba(6,139,57,1) 0%, rgba(202,251,233,1) 100%);
}

.cool-btn-red{
	background: rgb(150,3,3);
background: linear-gradient(270deg, rgba(150,3,3,1) 0%, rgba(236,207,134,1) 100%);
}

.alert-text {
	margin-top: 4px;
	padding: 6px 10px;
	border-radius: 8px;
	color: white;
	margin-right: 10px;
}

.alert-text:hover{
	color: #eeeeee;
	font-weight: bold;
}

.bg-gray{
	background-color: #545c5e;
}

.bg-red{
	background-color: #BF1515;
}

.bg-blue{
	background-color: #44449b;
}

.bg-green{
	background-color: #357935;
}

.bg-yellow{
	background-color: #ccbb00;
}

.bg-white{
	background-color: #ffffff;
	border: 1px solid #545c5e;
	color:  #545c5e;
}

.bg-white:hover{
	color: #434b4d;
	font-weight: bold;
}

.marge-low{
	margin-bottom: 5px;
}

.code-section{
	background-color: #eeeeee;
	color: black;
	font-size: 14pt;
	line-height: 120%;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.code-class{
	font-weight: bold;
	color: #cc8400;
}

.code-function{
	font-weight: 600;
	color: #1e00cc;
}

.code-comment{
	font-weight: 300;
	color: #48cc00;
}

.word-group-delete-btn{
	font-size: 8px;
	padding: 2px 4px;
	margin-right: 5px;
}


@media only screen and (max-width: 600px) {
	.header{
		margin-top: 0px;
		border-bottom: 0px;
		/* top-left | top-right | bottom-right | bottom-left */
		border-radius: 0px 0px 0px 0px;
	}
	.menu{
		border-left: 0px black solid;
		border-right: 0px black solid;
	}
	.body{
		border: 0px black solid;
		/* top-left | top-right | bottom-right | bottom-left */
		border-radius: 0px 0px 0px 0px ;
	}
	#VisitCount {
		display: none;
	}
}

