@import url('http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:400,600,700');


body {
	font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
}

::-webkit-scrollbar{
	width: 0px;
}

#ScrollPath{
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	z-index: 998;
}

#progressBar{
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background: rgb(42,23,177);
	background: linear-gradient(0deg, rgba(42,23,177,1) 0%, rgba(66,132,211,1) 100%);
	z-index: 999;
}

.fluid-container{
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.container{
	width: 100% !important;
}

@media (min-width: 1800){
	.container{
		width: 100% !important;
	}
}

.navbar{
	font-family: 'roboto';
	background-color: #0E53A7;
	color: white;
	border-bottom: 0px;
	margin-bottom: 20px;
	font-weight: 700 !important;
}

.navbar-brand{
	padding-left: 10px;
	padding-right: 10px;
	font-size: 18pt;
	font-weight: 600;
}

.navbar-brand:hover{
	font-weight: 900 !important;
	color: white  !important;
	background-color: transparent  !important;
	border-radius: 0px  !important;
	box-shadow: 0px 4px 4px -4px rgba(255, 255, 255, 0.5) !important;
}

.navbar a{
	color: white;
	margin-right: 5px;
	margin-left: 5px;
}

.navbar a:hover{
	color: #0E53A7;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 20px;
}

.navbar a.active{
	color: #0E53A7;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 20px;
}

.navbar a.dropdown-item{
	color: #0E53A7;
	margin-right: 0px;
	margin-left: 0px;
}

.navbar a.dropdown-item:hover{
	color: rgba(255, 255, 255, 1);
	background-color: #0E53A7;
	border-radius: 0px;
}

.navbar .dropdown-divider{
	border-top: 1px solid #0E53A7;
}

.btn-outline-white{
	color: #e4e7ea;
    border-color: #e4e7ea;
}

.btn-outline-white:hover{
	color: #0E53A7;
    border-color: #0E53A7;
	background-color: rgba(255, 255, 255, 1);
}

.navbar-toggler {
	background-color: white;
}

.navbar-toggler-icon{
	width: 20px;
	height: 20px;
}
	
.table-message{
	display: none;
}

@media (max-width: 440px){
	
	table{
		display: none;
	}
	
	.table-message{
		display: inherit;
	}

	#ScrollPath{
		display: none;
	}

	#progressBar{
		display: none;
	}
	
	iframe{
		width: 100%;
	}
	
	.navbar-brand{
		padding-left: 0px;
		padding-right: 0px;
	}

	.row{
		margin-right: 0px;
		margin-left: 0px;
	}

	.navbar a:hover{
		color: #0E53A7;
		background-color: rgba(255, 255, 255, 0.75);
		border-radius: 0px;
	}

	.navbar a.active{
		color: #0E53A7;
		background-color: rgba(255, 255, 255, 1);
		border-radius: 0px;
	}

	.btn-outline-white{
		width: 100%;
	}
}

.body{
	padding: 20px 20px;
	margin-bottom: 20px;
}

.personal-panel{
	background-color: #eeeeee;
	padding: 10px 15px;
	border-radius: 10px 10px 10px 10px;
	text-align: center;
	border: 1px solid #ededed;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.personal-panel img{
	text-align: center;
	border-radius: 100%;
}

.personal-panel h3{
	font-size: 18px;
}

.personal-panel h2{
	font-size: 20px;
	text-align: left;
}

.personal-panel ul{
	list-style-type: none;
	text-align: left;
}

.personal-panel li{
	color: black;
	padding-top: 5px;
}

.personal-panel li a{
	color: black;
}

.personal-panel h5{
	margin-top: 10px;
	font-size: 16px;
}

.personal-panel a{
	color: #333333;
}

.personal-panel a img{
	margin-right: 10px;
}

.personal-panel a:hover {
	color: #555555;
}

#VisitCount {
	margin-top: 10px;
	font-size: 12px;
}

.card{
	margin-bottom: 10px;
	margin-top: 10px;
}

h3{
	font-size: 20pt;
}

h2{
	font-size: 24pt;
}

.info p{
	padding-top: 15px;
	font-size: 16px;
}

.info li{
	padding-top: 5px;
	font-size: 16px;
}

.cool-btn{
	border: 0px;
	display: inline-block;
	font-size: 12pt;
	letter-spacing: 1.5px;
	padding: 6px 18px;
	border-radius: 40px;
	color: white;
	overflow: hidden;
	position: relative;
}

.col-btn-href{
	display: none;
}

.ripple{
	position: absolute;
	background: #fff;
	transform: translate(-50%, -50%);
	pointer-events: none;
	border-radius: 50%;
	animation: animate 1s linear infinite;
}

@keyframes animate{
	0% {
		width: 0px;
		height: 0px;
		opacity: 0.5;
	}
	100% {
		width: 1000px;
		height: 1000px;
		opacity: 0;
	}
}

.cool-btn-cite {
	margin-top: 10px;
	border: 0px;
	display: inline-block;
	font-size: 10pt;
	padding: 2px 0px;
	border-radius: 0px;
	letter-spacing: 1.25px;
	color: black;
	background: transparent !important;
}

.cool-btn-cite:hover {
	color: #0E53A7 !important;
}

.cool-btn-cite img{
	max-height: 14px;
	margin-left: 10px;
}

.cool-btn-gray{
	background-color: #28313b;
	background: linear-gradient(90deg, #6c7680 0%, #28313b 74%);
}

.cool-btn-gray:hover{
	border: 1px solid #28313b;
	padding: 5px 17px;
	box-shadow: 0px 0px 6px 0px rgba(16, 19, 23, 0.25) !important;
}

.cool-btn-yellow{
	background-color: #e5c600;
	background: linear-gradient(270deg, #c88c29 0%, #e5c600 74%);
}

.cool-btn-yellow:hover{
	border: 1px solid #e5c600;
	padding: 5px 17px;
	box-shadow: 0px 0px 6px 0px rgba(90, 78, 0, 0.25) !important;
}

.cool-btn-blue{
	background-color: #2a2a72;
	background-image: linear-gradient(270deg, #2a2a72 0%, #007fca 74%);
}

.cool-btn-blue:hover{
	border: 1px solid #2a2a72;
	padding: 5px 17px;
	box-shadow: 0px 0px 6px 0px rgba(16, 16, 45, 0.25) !important;
}


.cool-btn-green{
	background-color: #2C6F20;
	background: linear-gradient(270deg, #2C6F20 0%, #5cab66 74%);
}

.cool-btn-green:hover{
	border: 1px solid #2C6F20;
	padding: 5px 17px;
	box-shadow: 0px 0px 6px 0px rgba(17, 44, 13, 0.25) !important;
}

.cool-btn-red{
	background-color: #59090c;
	background: linear-gradient(90deg, #AE6D70 0%, #59090c 74%);
}

.cool-btn-red:hover{
	border: 1px solid #59090c;
	padding: 5px 17px;
	box-shadow: 0px 0px 6px 0px rgba(35, 4, 5, 0.25) !important;
}

.alert-text {
	margin-top: 4px;
	padding: 6px 10px;
	border-radius: 8px;
	color: white;
	margin-right: 10px;
}

.alert-text:hover{
	color: #eeeeee;
	font-weight: bold;
}

.bg-gray{
	background-color: #545c5e;
}

.bg-red{
	background-color: #BF1515;
}

.bg-blue{
	background-color: #44449b;
}

.bg-green{
	background-color: #357935;
}

.bg-yellow{
	background-color: #ccbb00;
}

.bg-white{
	background-color: #ffffff;
	border: 1px solid #545c5e;
	color:  #545c5e;
}

.bg-white:hover{
	color: #434b4d;
	font-weight: bold;
}

.marge-low{
	margin-bottom: 5px;
}

.code-section{
	background-color: #eeeeee;
	color: black;
	font-size: 14pt;
	line-height: 120%;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.code-class{
	font-weight: bold;
	color: #cc8400;
}

.code-function{
	font-weight: 600;
	color: #1e00cc;
}

.code-comment{
	font-weight: 300;
	color: #48cc00;
}

.word-group-delete-btn{
	font-size: 8px;
	padding: 2px 4px;
	margin-right: 5px;
}

.cookie-alert{
    position: fixed;
    bottom: 50px;
    left:10%;
    width: 80%;
}

.global-error-alert{
    position: fixed;
	text-align: center;
    bottom: 50%;
	font-size: 18pt;
    left:10%;
    width: 80%;
}

.btn-light{
	background: white;
	border: 1px solid white;
}

.btn-light:hover{
	background: transparent;
	border: 1px solid white;
}

.star-btn{
	width: 30px;
	height: 30px;
	padding: 0px 0px;
	margin: 0px 0px;
	background: transparent;
	border: 0px;
	vertical-align: middle;
}

.star-btn:hover{
	opacity: 0.9;
}

.star-btn svg{
	width: 30px;
	height: 30px;
}

.nobull {
  list-style-type: none;
  padding-left: 0px;
}

.card-img-top{
	max-height: 200px;
	height: 100%;
}


@media only screen and (max-width: 600px) {
	.header{
		margin-top: 0px;
		border-bottom: 0px;
		/* top-left | top-right | bottom-right | bottom-left */
		border-radius: 0px 0px 0px 0px;
	}
	.menu{
		border-left: 0px black solid;
		border-right: 0px black solid;
	}
	.body{
		border: 0px black solid;
		/* top-left | top-right | bottom-right | bottom-left */
		border-radius: 0px 0px 0px 0px ;
	}
	#VisitCount {
		display: none;
	}

	.cookie-alert{
		position: fixed;
		bottom: 50px;
		left:5%;
		width: 90%;
	}
}

