<!-- Footer legal -->
<div class="footer-container">
	<div class="footer-section">
		<div class="personal-row-col-footer">
			<div class="footer-menu w-100" style="align-content: space-evenly;">
				<h1 id="lecturer-name-id">
					Teddy Lazebnik
				</h1>
				<h2 id="position">
					Algorithms Developer & Researcher
				</h2>
				<p class="footer-description">
					I am an entrepreneur and data scientist, with 10+ years of large-scale AI development experience (research & production), in Finances, Medical, and Retail verticals.
				</p>
				<div class="personal-row footer-details-icons">
						<img title="email" src="/img/footer/email.png" />
					<p id="email-address">lazebnik.teddy (at) gmail.com</p>
				</div>
				<div class="personal-row footer-details-icons">
						<img title="phone" src="/img/footer/phone.png" />
					<p id="phone-number">0545524589</p>
				</div>
				<div class="personal-row">
					<p>Find me on:</p><br>
				</div>
				<div class="personal-row footer-social">
					<a href="mailto:lazebnik.teddy@gmail.com" class="footer-social-icons footer-find-me-mail-and-phone" title="email" id="footer-email">
						<img title="email" src="/img/footer/email.png" />
					</a>
					
					<a href="tel:+972545524589" class="footer-social-icons footer-find-me-mail-and-phone" title="phone" id="footer-phone">
						<img title="phone" src="/img/footer/phone.png" />
					</a>
					
					<a href="https://scholar.google.com/citations?user=7Kl5lGYAAAAJ&hl=en" class="footer-social-icons" title="google profile" id="footer-google">
						<img title="google profile" src="/img/footer/google.png" />
					</a>
					
					<a href="https://www.linkedin.com/in/teddy-lazebnik/" class="footer-social-icons" title="github profile" id="footer-github">
						<img title="linkedin profile" src="/img/footer/linkedin.png" />
					</a>
					<!--
					<a href="https://bitbucket.org/teddy_lazebnik/" class="footer-social-icons" title="bitbucket profile" id="footer-bitbucket">
						<img title="bitbucket profile" src="/img/footer/bitbucket.png" />
					</a>
					-->
					<a href="https://github.com/teddy4445" class="footer-social-icons" title="github profile" id="footer-bitbucket">
						<img title="github profile" src="/img/footer/github.png" />
					</a>
				</div>
			</div>
			<div class="personal-coloum w-100" style="align-content: space-evenly;" id="footer-menu-row"> 
				<div class="footer-bottom-links w-100" style="align-content: space-evenly;">
					<div class="footer-menu w-100">
						<a class="footer-menu-title" href="/about.html">
							About
						</a>
						<a class="footer-menu-item" href="/about.html?section=Biography">
							Biography
						</a>
						<a class="footer-menu-item" href="/about.html?section=Personal-projects">
							Personal Projects
						</a>
						<a class="footer-menu-item" href="/about.html?section=Recommended-resources">
							Recommended resources
						</a>
					</div>
					<div class="footer-menu w-100">
						<a class="footer-menu-title" href="/research.html">
							Research
						</a>
						<a class="footer-menu-item" href="/research.html?section=Ongoing-Projects">
							 Ongoing projects
						</a>
						<a class="footer-menu-item" href="/research.html?section=Previous-Projects">
							 Previous projects
						</a>
						<a class="footer-menu-item" href="/research.html?section=Work-with-me">
							Work with me
						</a>
					</div>
				</div>
				<div class="footer-bottom-links w-100" style="align-content: space-evenly;">
					<div class="footer-menu w-100">
						<a class="footer-menu-title" href="/publications.html">
							Publication
						</a>
						<a class="footer-menu-item" href="/files/sir_review.pdf">
							Computational Applications of Extended SIR Models: A Review Focused on Airborne Pandemics
						</a>
						<a class="footer-menu-item" href="/files/autoencoder.pdf">
							Knowledge-integrated autoencoder model
						</a>
					</div>
					<div class="footer-menu w-100">
						<a class="footer-menu-title" href="/teaching.html">
							Courses
						</a>
						<a class="footer-menu-item" href="/course-page.html?course_id=12321">
							Introduction to Reinforcement Leanring
						</a>
						<a class="footer-menu-item" href="/course-page.html?course_id=----">
							Mathematical aspects and applications of modern cyber
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 
<div class="footer-section">
	<div class="personal-row center brand-footer" >
		<a href="#" title="An academic website generator">Powered by <img title="An academic website generator" src="/img/logo.png" /></a>
	</div>
	<div class="year-logo">
		<span>© 2023 </span>
		<a href="#">Privacy - Terms</a>
	</div>
</div> 

		
<div class="alert" id="alert-panel-1">
  <span id="alert-close-btn" class="closebtn" onclick="this.parentElement.style.opacity=0;"></span>
  <div id="cite-alert">
  </div>
</div>
		
<div class="alert" id="alert-panel-2">
  <span id="search-close-btn" class="closebtn" onclick="this.parentElement.style.opacity=0;"></span>
  <div id="search-alert">
  </div>
</div>
