<!-- Footer legal -->
<div class="footer-container">
	<div class="footer-section">
		<div class="personal-row-col-footer">
			<div class="footer-menu w-100" style="align-content: space-evenly;">
				<h1>
					Teddy Lazebnik
				</h1>
				<h2>
					PhD. Student at Bar-Ilan University, department of CS.
				</h2>
				<p class="footer-description">
					I am a Ph.D. student in the Tolkien Project, part of the MAVERICK research group at the Computer Science Department, Bar Ilan University; Supervised by Prof. Gal A. Kaminka and Dr. Chana Weitman.  
				</p>
				<div class="personal-row footer-details-icons">
						<img title="linkedin profile" src="/img/footer/email.png" />
					<p>lazebnik.teddy (at) gmail.com</p>
				</div>
				<div class="personal-row footer-details-icons">
						<img title="linkedin profile" src="/img/footer/phone.png" />
					<p>+972-545524589</p>
				</div>
				<div class="personal-row">
					<p>Find me on:</p><br>
				</div>
				<div class="personal-row footer-social">
					<a href="https://scholar.google.com/citations?user=7Kl5lGYAAAAJ&hl=en" class="footer-social-icons" title="google profile" id="footer-google">
						<img title="google profile" src="/img/footer/google.png" />
					</a>
					
					<a href="https://www.linkedin.com/in/teddy-lazebnik/" class="footer-social-icons" title="github profile" id="footer-github">
						<img title="linkedin profile" src="/img/footer/linkedin.png" />
					</a>
					
					<a href="https://bitbucket.org/teddy_lazebnik/" class="footer-social-icons" title="bitbucket profile" id="footer-bitbucket">
						<img title="linkedin profile" src="/img/footer/bitbucket.png" />
					</a>
					
					<a href="https://github.com/teddy4445" class="footer-social-icons" title="github profile" id="footer-bitbucket">
						<img title="github profile" src="/img/footer/github.png" />
					</a>
				</div>
			</div>
			<div class="personal-coloum w-100" style="align-content: space-evenly;" id="footer-menu-row"> 
				<div class="personal-row w-100" style="align-content: space-evenly;"> 
					<div class="footer-menu w-100">
						<a class="footer-menu-title" href="/about.html">
							About
						</a>
						<a class="footer-menu-item" href="/about.html?section=Biography">
							Biography
						</a>
						<a class="footer-menu-item" href="/about.html?section=Personal-projects">
							Personal Projects
						</a>
						<a class="footer-menu-item" href="/about.html?section=Recommended-resources">
							Recommended resources
						</a>
					</div>
					<div class="footer-menu w-100">
						<a class="footer-menu-title" href="/research.html">
							Research
						</a>
						<a class="footer-menu-item" href="/research.html?section=Ongoing-Projects">
							 Ongoing projects
						</a>
						<a class="footer-menu-item" href="/research.html?section=Previous-Projects">
							 Previous projects
						</a>
						<a class="footer-menu-item" href="/research.html?section=Work-with-me">
							Work with me
						</a>
					</div>
				</div>
				<div class="personal-row w-100" style="align-content: space-evenly;"> 
					<div class="footer-menu w-100">
						<a class="footer-menu-title" href="/publications.html">
							Publication
						</a>
						<a class="footer-menu-item" href="/files/matrix_exponent.pdf">
							Stable Matrix Exponent
						</a>
						<a class="footer-menu-item" href=/files/Treatment_of_Bladder_Cancer_Using_BCG_Immunotherapy.pdf>
							Treatment of Bladder Cancer Using BCG Immunotherapy: PDE Modeling
						</a>
					</div>
					<div class="footer-menu w-100">
						<a class="footer-menu-title" href="/teaching.html">
							Courses
						</a>
						<a class="footer-menu-item" href="/course-page.html?course_id=89210">
							Advanced Programming 1
						</a>
						<a class="footer-menu-item" href="/course-page.html?course_id=89211">
							Advanced Programming 2
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 
<div class="footer-section">
	<div class="personal-row center brand-footer" >
		<a href="https://sphera.academy" title="An academic website generator">Powered by <img title="An academic website generator" src="/img/logo.png" /></a>
	</div>
</div> 

		
<div class="alert">
  <span id="alert-close-btn" class="closebtn" onclick="this.parentElement.style.opacity=0;"></span>
  <div id="cite-alert">
  </div>
</div>
		
<div class="alert">
  <span id="search-close-btn" class="closebtn" onclick="this.parentElement.style.opacity=0;"></span>
  <div id="search-alert">
  </div>
</div>