<div class="mobile-menu-bg" id="mobile-menu-bg"></div>
<!-- start of mobile menu-->
<div id="mobile-menu" class="mobile-menu">
	<div class="personal-coloum">
		<h2 id="lecturer-name-template">Teddy Lazebnik</h2>
		<div class="input-group input-group-mobile">
		  <input class="form-control py-2 border-left-0 border" placeholder="Search" type="search" id="search_input" />
		  <span class="input-group-append">
			<button id="header-search-btn" class="btn btn-outline-secondary border-left-0 border search-menu-btn" type="button" onclick="searchPage();">
				<i class="fa fa-search"></i>
			</button>
		  </span>
		</div>
		
		<a class="mobile-menu-link-home" href="/">
			Home
		</a>
		
		<!-- start of menu -->
		<div class="mobile-menu-link collapsible">
			<a class="mobile-menu-link" href="/about.html">
				About 
			</a>
		</div>
		<div class="mobile-menu-link collapsible">
			<a class="mobile-menu-link" href="/publications.html">
				Publications 
			</a>
		</div>
		<div class="mobile-menu-link collapsible">
			<a class="mobile-menu-link" href="/research.html">
				Research 
			</a>
		</div>
		<div class="mobile-menu-link collapsible">
			<a class="mobile-menu-link" href="/teaching.html">
				Courses 
			</a>
		</div>
		<div class="mobile-menu-link collapsible">
			<a class="mobile-menu-link" href="/lab.html">
				Lab 
			</a>
		</div>
		<div class="mobile-menu-link collapsible">
			<a class="mobile-menu-link" href="/blog.html">
				Blog
			</a>
		</div>
	</div>
</div>
<!-- end of moblie menu-->
<!-- start of navigation bar-->
<nav class="navbar navbar-expand-md main-nav">
	<div class="spacer"></div>
	<a class="logo navbar-brand order-first order-md-0 mx-0" href="#" onclick="gotoIndex();">
	<button class="hamburger hamburger--collapse" type="button" aria-label="Menu" aria-controls="navigation" onclick="document.getElementById('mobile-menu').style.marginLeft = '0px';document.getElementById('mobile-menu-bg').style.marginLeft = '0px';">
	  <span class="hamburger-box">
		<span class="hamburger-inner"></span>
	  </span>
	</button>Teddy Lazebnik</a>
	<!-- start of navigation bar: menus-->
	<div class="collapse navbar-collapse w-100">
		<ul class="nav navbar-nav w-100 nowrap">
			<li class="nav-item menu-main-link active">
				<a class="nav-link collapsible" href="/about.html">About
				</a>
			</li>
			<li class="nav-item menu-main-link active">
				<a class="nav-link collapsible" href="/publications.html">Publications
				</a>
			</li>
			<li class="nav-item menu-main-link active">
				<a class="nav-link collapsible" href="/research.html">Research
				</a>
			</li>
			<li class="nav-item menu-main-link">
				<a class="nav-link collapsible" href="/teaching.html">Courses 
				</a>
			</li>
			<li class="nav-item menu-main-link">
				<a class="nav-link collapsible" href="/lab.html">Lab 
				</a>
			</li>
			<li class="nav-item menu-main-link">
				<a class="nav-link collapsible" href="/blog.html">Blog
				</a>
			</li>
		</ul>
	</div>
	<!-- end of navigation bar: menus-->
	<!-- start of navigation bar: about and search-->
	<div class="collapse navbar-collapse w-100">
		<ul class="nav navbar-nav ml-auto nowrap">
			<li class="nav-item">
				<div class="input-group">
				  <input class="form-control py-2 border-left-0 border" placeholder="Search" type="search" id="search_input_mobile" />
				  <span class="input-group-append">
					<button id="header-search-btn" class="btn btn-outline-secondary border-left-0 border search-menu-btn" type="button"  onclick="searchPage();">
						<i class="fa fa-search"></i>
					</button>
				  </span>
				</div>
			</li>
		</ul>
	</div>
	<!-- end of navigation bar: about and search-->
	<div class="spacer"></div>
</nav>
<!-- end of navigation bar-->