<div class="mobile-menu-bg" id="mobile-menu-bg"></div>
<!-- start of mobile menu-->
<div id="mobile-menu" class="mobile-menu">
	<div class="personal-coloum">
		<h2>Teddy Lazebnik</h2>
	
		<div class="input-group input-group-mobile">
		  <input class="form-control py-2 border-left-0 border" placeholder="Search" type="search" id="example-search-input" />
		  <span class="input-group-append">
			<button id="header-search-btn" class="btn btn-outline-secondary border-left-0 border search-menu-btn" type="button">
				<i class="fa fa-search"></i>
			</button>
		  </span>
		</div>
		
		<a class="mobile-menu-link" href="/index.html">
			Home
		</a>
		
		<!-- start of menu -->
		<div class="mobile-menu-link collapsible">
			Research <i class="fa fa-angle-down" aria-hidden="true"></i>
			<div class="mobile-menu-second-level">
				<div class="mobile-menu-list-item">
					<a class="mobile-menu-link" href="/publications.html">
						Academic Publications
					</a>
				</div>
				<div class="mobile-menu-list-item">
					<a class="mobile-menu-link" href="/students.html">
						Research Students
					</a>
				</div>
			</div>
		</div>
		<!-- end of menu -->
		<!-- start of menu -->
		<div class="mobile-menu-link collapsible">
			Courses <i class="fa fa-angle-down" aria-hidden="true"></i>
			<div class="mobile-menu-second-level">
				<div class="mobile-menu-list-item">
					<a class="mobile-menu-link" href="/courses/advanced-programming-one.html">
						Advanced Programming 1
					</a>
				</div>
				<div class="mobile-menu-list-item">
					<a class="mobile-menu-link" href="/courses/advanced-programming-two.html">
						Advanced Programming 2
					</a>
				</div>
				<div class="mobile-menu-list-item">
					<a class="mobile-menu-link" href="/teaching.html">
						All classes
					</a>
				</div>
			</div>
		</div>
		<!-- end of menu -->
		<!-- start of menu -->
		<div class="mobile-menu-link collapsible">
			Projects <i class="fa fa-angle-down" aria-hidden="true"></i>
			<div class="mobile-menu-second-level">
				<div class="mobile-menu-list-item">
					<a class="mobile-menu-link" href="/opensource.html">
						Open Source
					</a>
				</div>
				<div class="mobile-menu-list-item">
				<a class="mobile-menu-link" href="/technological-blog.html">
					Blog 
				</a>
			</div>
			</div>
		</div>
		<!-- end of menu -->
	</div>
</div>
<!-- end of moblie menu-->
<!-- start of navigation bar-->
<nav class="navbar navbar-expand-md main-nav">
	<div class="spacer"></div>
	<a class="logo navbar-brand order-first order-md-0 mx-0" href="#">
	<button class="hamburger hamburger--collapse" type="button" aria-label="Menu" aria-controls="navigation" onclick="document.getElementById('mobile-menu').style.marginLeft = '0px';document.getElementById('mobile-menu-bg').style.marginLeft = '0px';">
	  <span class="hamburger-box">
		<span class="hamburger-inner"></span>
	  </span>
	</button>Teddy Lazebnik</a>
	<!-- start of navigation bar: menus-->
	<div class="collapse navbar-collapse w-100">
		<ul class="nav navbar-nav w-100 nowrap">
			<li class="nav-item menu-main-link active">
				<div class="nav-link collapsible" href="#">Research
					<i class="fa fa-angle-down" aria-hidden="true"></i>
					<div class="menu-second-level">
						<ul class="menu-second-level-list">
							<li class="menu-second-level-list-item">
								<a class="mobile-menu-link" href="/publications.html">
									Academic Publications
								</a>
							</li>
							<li class="menu-second-level-list-item">
								<a class="mobile-menu-link" href="/students.html">
									Research Students
								</a>
							</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="nav-item menu-main-link">
				<div class="nav-link collapsible" href="#">Courses <i class="fa fa-angle-down" aria-hidden="true"></i>
					<div class="menu-second-level">
						<ul class="menu-second-level-list">
							<li class="menu-second-level-list-item">
								<a class="mobile-menu-link" href="/courses/advanced-programming-one.html">
									Advanced Programming 1
								</a>
							</li>
							<li class="menu-second-level-list-item">
								<a class="mobile-menu-link" href="/courses/advanced-programming-two.html">
									Advanced Programming 2
								</a>
							</li>
							<li class="menu-second-level-list-item">
								<a class="mobile-menu-link" href="/teaching.html">
									All classes
								</a>
							</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="nav-item menu-main-link">
				<div class="nav-link collapsible" href="#">Projects <i class="fa fa-angle-down" aria-hidden="true"></i>
					<div class="menu-second-level">
						<ul class="menu-second-level-list">
							<li class="menu-second-level-list-item">
								<a class="mobile-menu-link" href="/opensource.html">
									Open Source
								</a>
							</li>
							<li class="menu-second-level-list-item">
								<a class="mobile-menu-link" href="/technological-blog.html">
									Blog 
								</a>
							</li>
						</ul>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- end of navigation bar: menus-->
	<!-- start of navigation bar: about and search-->
	<div class="collapse navbar-collapse w-100">
		<ul class="nav navbar-nav ml-auto nowrap">
			<li class="nav-item menu-main-link">
				<a class="nav-link" href="#">About </a>
			</li>
			<li class="nav-item">
				<div class="input-group">
				  <input class="form-control py-2 border-left-0 border" placeholder="Search" type="search" id="example-search-input" />
				  <span class="input-group-append">
					<button id="header-search-btn" class="btn btn-outline-secondary border-left-0 border search-menu-btn" type="button">
						<i class="fa fa-search"></i>
					</button>
				  </span>
				</div>
			</li>
		</ul>
	</div>
	<!-- end of navigation bar: about and search-->
	<div class="spacer"></div>
</nav>
<!-- end of navigation bar-->